<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/account.css" type="text/css">
<link rel="stylesheet" href="/css/accountSettings.css" type="text/css">

<div class="header-container">
    <div class="user-container">
        <!-- Label is used to sync img position with accountSettings.ejs-->
        <label>
            <img src="<%= user.avatar %>" class="avatar">
        </label>
        <div class="user-information">
            <p class="username"><%= user.username %></p>
            <p class="description"><%= user.description %></p>
        </div>
    </div>
    <% if (ownAccount) { %>
    <a class="btn-orange" href="/account/settings">Settings</a>
    <% } %>
</div>
<div class="information-container">
    <div class="information-row">
        <p><span class="key">Total games played:</span> <span class="value"><%= gamesPlayed %></span></p>
        <p><span class="key">Average WPM:</span> <span class="value"><%= averageWPM %></span></p>
    </div>
</div>
<%- include('partials/footer.ejs') %>