<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/account.css" type="text/css">
<link rel="stylesheet" href="/css/accountSettings.css" type="text/css">

<div class="header-container">
    <div class="user-container">
        <img src="<%= user.avatar %>" class="avatar">
        <div class="user-information">
            <p class="username"><%= user.username %></p>
            <p class="description"><%= user.description %></p>
        </div>
    </div>
    <% if (ownAccount) { %>
    <a id="settings-btn" href="/account/settings">Settings</a>
    <% } %>
</div>
<div class="information-container">
    <div class="information-row">
        <p id="games-played">Total games played: <%= gamesPlayed %></p>
        <p id="average-wpm">Average WPM: <%= averageWPM %></p>
    </div>
</div>
<%- include('partials/footer.ejs') %>