<%- include('partials/header.ejs') %>
<form action="/control/texts" method="POST">
<% for (var text of texts) { %>
<input name="<%= text._id %>" type="textarea" value="<%= text.passage %>" style="width: 80%; height: 30px;">
Delete: <input name="<%= text._id %>-deletePassage" type="checkbox">
<br>
<% } %>
<button type="submit">Save</button>
</form>

<form action="/control/texts/new" method="POST">
    <input name="passage" type="textarea" style="width: 100%; height: 40px;">
    <button type="submit">Create new passage</button>
</form>

<%- include('partials/footer.ejs') %>