<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/control-texts.css" type="text/css">
<form action="/control/scripts" method="POST" id="text-form">
    <div class="text-container">
        <% for (var script of scripts) { %>
            <div class="text">
                <textarea name="<%= script._id %>"><%= script.passage %></textarea>
                <div class="delete-text">
                    Delete: <input name="<%= script._id %>-deletePassage" type="checkbox">
                </div>
            </div>
        <% } %>
    </div>
    <button type="submit" id="save-btn">Save</button>
</form>

<form action="/control/scripts/new" method="POST" id="create-form">
    <textarea name="passage">

    </textarea>
    <button type="submit" id="create-btn">Create<br>script</button>
</form>

<%- include('partials/footer.ejs') %>