<%- include('partials/header.ejs') %>
<style>
    a {
        color: white;
    }
</style>

<% var totalWPM = 0; for (var game of pastGames)  { totalWPM+= game.wpm } %>

<p>Username: <%= username %></p>
<p>Change Username:
    <form id="changeUsernameForm" action="/auth/usernameChange" method="POST">
        <input autocomplete="off" name="newUsername" type="text" placeholder="<%= username %>" id="changeUsernameInput">
        <button type="submit" id="changeUsernameButton">Change</button>
        <p id="changeUsernameStatus"></p>
    </form>
</p>
<p>Average WPM: <%= (Math.round(totalWPM / pastGames.length) ? Math.round(totalWPM / pastGames.length) : "No games found!") %></p>
<% if (!loggedInGoogle) { %>
    <p>Google not linked: <a href="/auth/google">LINK</a></p>
<% }  else { %>
    <p>Googled linked:
        <% if (loggedInGithub) { %>
            <a href="/auth/google/unlink">UNLINK</a>
        <% } else { %>
            CAN'T UNLINK ONLY LOGIN
        <% } %>
    </p>
<% } %>
<% if (!loggedInGithub) { %>
    <p>Github not linked: <a href="/auth/github">LINK</a></p>
<% } else { %>
    <p>Github linked: 
        <% if (loggedInGoogle) { %>
            <a href="/auth/github/unlink">UNLINK</a>
        <% } else { %>
            CAN'T UNLINK ONLY LOGIN
        <% } %></p>
<% } %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/profile.js"></script>
<%- include('partials/footer.ejs') %>