<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/statistics.css" type="text/css">
<div class="stats-container">
    <h1 class="stats-header">Global statistics</h1>
    <div class="stats-row">
        <div class="stats-item"><p class="stats-key">Texts written: </p><p class="stats-value"><%= totalTimesTyped %></p></div>
        <div class="stats-item"><p class="stats-key">Average WPM: </p><p class="stats-value"><%= averageWPM %></p></div>
    </div>
    <div class="stats-row">
        <div class="stats-item"><p class="stats-key">Games played: </p><p class="stats-value"><%= gamesPlayed %></p></div>
        <div class="stats-item"><p class="stats-key">Accounts created: </p><p class="stats-value"><%= userCount %></p></div>
    </div>
</div>
<%- include('partials/footer.ejs') %>